# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the
# most precedence.

# Primary repo maintainers
*       @leeduan @scirner22 @jtalis @rshah-figure @ranadewall
